.App {
  text-align: center;
}

h1 {
  padding: 8px;
  background-color: black;
  color: white;
  margin-bottom: 0 !important;
}

.col {
  margin-bottom: 24px;
}

.menu {
  padding-top: 24px;
  background-color: aliceblue;
  margin-bottom: 24px;
}

p {
  margin: 0 !important;
}

.approval {
  margin-top: 32px !important;
  font-weight: bold;
}
